{% if not has_pgp_key or not is_pgp_verified %}
<div class="bg-yellow-50 dark:bg-yellow-900 border-l-4 border-yellow-400 p-4 shadow mb-4 rounded-md">
    <div class="flex">
        <div class="flex-shrink-0">
            <svg class="h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM10 13a1 1 0 110-2 1 1 0 010 2zm0-4a1 1 0 01-1-1V6a1 1 0 112 0v2a1 1 0 01-1 1z" clip-rule="evenodd" />
            </svg>
        </div>
        <div class="ml-3">
            <p class="text-sm text-yellow-700 dark:text-yellow-200">
                {% if not has_pgp_key %}
                    You have not configured a PGP public key.
                {% else %}
                    Your configured PGP public key has not been verified.
                {% endif %}
                Configuring and verifying your PGP key is important for security, enabling password recovery and secure handling of secrets. 
                {% if not has_pgp_key %}
                    Please publish your public PGP key then fetch it and verify it using the buttons below.
                {% else %}
                    Please verify your key.
                {% endif %}
            </p>
        </div>
    </div>
</div>
{% else %}
<!-- PGP key is present and verified, render nothing -->
{% endif %} 